<div class="container">
    <div class="row">
        <div class="col-xl-12" style="border: solid black 1px;">
            <h1 style="text-align: center;">Bienvenu sur GTV !</h1>
        </div>
    </div>
    <div class="row">
        <h3>Explication du fonctionnement</h3>
        <p>Ce site permet la gestion de tournois de volley ball et patati et patata
            blablablalba histoire de remplir un peu la page d'accueil bordel de merde enfin un truc 
            simple à faire,du coup on va caller deux ou trois jeu de mots:
            tournois de cajous
            tournoyer
            tournoir 
        </p>
    </div>
</div>
