<div class="container">
    <div class="row">
        <div class="col-xl-12" style="border: solid black 1px;">
            <h1 style="text-align: center;">Bienvenu sur GTV !</h1>
        </div>
    </div>
    <div class="row">
        <h3>Explication du fonctionnement</h3>
        <p>Ce site permet la gestion de tournois de volley ball et patati et patata
            blablablalba histoire de remplir un peu la page d'accueil et bientot on mettra les consignes etc et on designera 
            ça mieu parce que la vraiment c'est la page d'accueil la plus moche de l'histoire de l'uhumanité.
            Mais pas le time de faire de la décoration 
            déjà que je maîtrise pas trop bootstrap, 
<p>Au passage si quelqu'un le pull, ne vous moquez pas de ce mauvais code.</p>

    </div>
</div>
