<div class="col-sm-8 col-sm-offset-2">
    <form [formGroup]="teamForm" (ngSubmit) = "onSubmitForm()">
        <div class="form-group">
            <label for="teamName">Nom d'équipe</label>
            <input type="text" class="form-control" id="teamName" formControlName="teamName">   
        </div>
        <div formArrayName='players'>
            <h3>Joueurs: </h3>
            <div class="form-group" *ngFor='let playerControl of getPlayers().controls; let i = index'>
                <input type="text" class="form-control" [formControlName]="i">
            </div>
            <button type="button" class="btn btn-success" (click)="onAddPlayers()">Ajouter un joueur</button>
        </div>
     <!--    
        <div formArrayName='playersLevel'>
            <h3>Niveaux: </h3>
            <div class="form-group" *ngFor='let playerLevelControl of getPlayersLevel().controls; let i = index'>
                <input type="number" class="form-control" [formControlName]="i" min="0" max="5">
            </div>
            <button type="button" class="btn btn-success" (click)="onAddPlayersLevel()">Ajouter un joueur</button>
        </div>
       -->  
        <button class="btn btn-primary" type="submit" [disabled]="teamForm.invalid">Continuer</button>
    </form>

</div> 
<!-- 
    corriger le fait que min 3 joueurs 
 -->