<div class="col-xs-12">
    <h2>Les tournois</h2>
    <p>Mis à jour: {{ lastUpdate | async |  date: 'EEEE d MMMM y' | uppercase }} </p>
    <ul class="list-group">
      <app-tournoi 
      *ngFor="let tournoi of tournois; let i = index"
      [indexTournoi] = "i"
      [name] = "tournoi.name"
      [inscrit] = "tournoi.inscrit"
      [id] = "tournoi.id">
    </app-tournoi>
    </ul>
    <button class="btn btn-success" 
    (click)="onInscrire()">S'incrire à tous</button>
    <button class="btn btn-danger" 
    (click) = "onDesinscrire()">Désinscrire de Tous</button>
    
  </div>