<div class="container">
    <div class="row" style="text-align: center;">
    <h1 style="display: inline; "> Les événements</h1>

    <button style="float: right;" class="btn btn-success" routerLink='new-event'>Créer</button><br>
    </div>
    <div class="row" *ngFor="let event of events; let i = index ">
      
        <ul class="list-group">
          <app-event 
          [indexEvent] = "i"
          [name] = "event.name"
          [dateEv] = "event.dateEv"
          [dateLimite] = "event.dateLimite"
          [tournois] = "event.tournois" 
          [description] = "event.description">
        </app-event>
        </ul>
      

    </div>
  </div>
