<div class="container">
    <a routerLink='/events'>Retour</a>
    <div class="row" style="border: solid 1px black;">
        <div class="col-md-6" > 
            <h1>{{name}} </h1>
            <p>Date de l'événement: {{ dateEv }} </p>
            <p>Date limite pour les inscriptions: {{ dateLimite }}</p>
<!--             <ul class="form-group">
                <li *ngFor="let tournoi of tournois">
                    <a (click)="onClickTournament(tournoi)">{{ tournoi}}</a>
                </li>
            </ul> -->
        </div>
        <div class="col-md-6">
            <p>Description: </p>
            <p *ngFor="let desc of description">
                - {{desc }}
            </p>
        </div>
    </div>
        <h3>Tournois présent: </h3>
    <div class="row" *ngFor="let t of Tournaments">
        <ul class="list-group">
            <app-tournament  
                [id] = "t.id"
                [nameT] = "t.nameT"
                [format] = "t.format"
                [teamRegistered] = "t.teamRegistered"
                [winner] = "t.winner"
                [participe] = "t.participe">
            </app-tournament>
        </ul>
    </div>
    
</div>



