<div class="container">
    <a routerLink='/events'>Retour</a>
    <div class="row">
        <div class="col-md-5" style="border: solid 1px black;"> 
            <h2>{{name}} </h2>
            <p>Date de l'événement: {{ dateEv }} </p>
            <p>Date limite pour les inscriptions: {{ dateLimite }}</p>
            <p>Tournois présent: {{ tournois }}</p>
        </div>
        <div class="col-md-5" style="border: solid 1px black;">
            ok je comprend pas bcp bootstrap mais ça je commmence à 
        </div>
        <div class="col-md-2" style="border: solid 1px black;">
            capté et c'est cooll enfin je suis pas sur mais on verrabien la po
            l'instant je fais jsute des tests.
        </div>

    </div>
</div>



