<div class="container">
    <a routerLink='/events'>Retour</a>
    <div class="row">
        <div class="col-md-5" style="border: solid 1px black;"> 
            <h2>{{name}} </h2>
            <p>Date de l'événement: {{ dateEv }} </p>
            <p>Date limite pour les inscriptions: {{ dateLimite }}</p>
            <p>Tournois présent: </p>
            
            <ul class="form-group">
                <li *ngFor="let tournoi of tournois">
                    <a (click)="onClickTournament(tournoi)">{{ tournoi}}</a>
                </li>
            </ul>
        </div>
        <div class="col-md-5">
            <p>Description: </p>
            <p *ngFor="let desc of description">
                - {{desc }}
            </p>
        </div>
    </div>
    <div class="row" *ngIf="descTourn===true">
        <app-tournament 
            [id] = "currentTournament.id"
            [nameT] = "currentTournament.nameT"
            [format] = "currentTournament.format"
            [teamRegistered] = "currentTournament.teamRegistered"
            [winner] = "currentTournament.winner"
            [participe] = "currentTournament.participe">
        </app-tournament>
    </div>
    
</div>



