<div class="col-md-6">
    <li class="list-group-item">
        <h3>Nom: {{ name }}</h3>
        <p>Date: {{ dateEv }} </p>
        <p>Date limite inscritpion sur le site: {{ dateLimite}}</p>
     <p><a [routerLink] = "[name]">Détails et inscriptions</a> </p>
    </li>
</div>

<div class="col-md-6">
        <h4 style="text-align: center;">Tournois présents sur l'événement</h4>
        <div class="col-md-4" *ngFor="let tournoi of tournois">
            <li><p >{{tournoi }}</p></li>
        </div>
</div>